> python3 -m venv path/to/venv      : Dieser Befehl wird verwendet,
um eine virtuelle Umgebung (Virtual Environment) in Python zu erstellen.

> source path/to/venv/bin/activate  : Dieser Befehl wird verwendet,
um eine virtuelle Python-Umgebung (Virtual Environment) zu aktivieren.

> python3 -m pip install pytest     : Der Befehl wird verwendet,
um das Python-Paket pytest zu installieren.

> pytest tests/ : Dieser Befehl führt die Tests in einem Verzeichnis namens tests/ aus.
> deactivate    : Dieser Befehl bringt dich zurück in die normale Systemumgebung.

How to import data from CSV file:
> python3 chatbot/main.py --importing --filetype CSV --existingfile data.csv --newfile new_data.csv --outputfile data.csv