> python3 -m venv path/to/venv      : Dieser Befehl wird verwendet,
um eine virtuelle Umgebung (Virtual Environment) in Python zu erstellen.

> source path/to/venv/bin/activate  : Dieser Befehl wird verwendet,
um eine virtuelle Python-Umgebung (Virtual Environment) zu aktivieren.

> python3 -m pip install pytest     : Der Befehl wird verwendet,
um das Python-Paket pytest zu installieren.

> pytest tests/ : Dieser Befehl führt die Tests in einem Verzeichnis namens tests/ aus.
> deactivate    : Dieser Befehl bringt dich zurück in die normale Systemumgebung.

How to import data from CSV file:
> python3 chatbot/main.py --importing --filetype CSV --newfile new_data.csv --outputfile data.csv

How to add answer
> python3 chatbot/main.py --add --question-for-edit "question a" --answer-for-adit "answer a 1"

How to remove answer
> python3 chatbot/main.py --remove --question-for-edit "question a" --answer-for-adit "answer a 1"

How to remove question
> python3 chatbot/main.py --remove --remove-question "question a"

How to add question
> python3 chatbot/main.py --add --add-question "question a" --answer-for-adit "answer 1"